.header{
    background: rgb(0,0,0);
    background: var(--rainbow-gradient);
    position: fixed;
    top:0;
    width:100%;
    padding: 15px 10px;
}
.header a {
    color: ghostwhite;
    text-decoration: none;
    font-size: 18px;
    transition: all .2s ease-in-out;
    padding: 0 20px;

}
.header a:hover {
    color:#132645;
    cursor: pointer;
    transform: scale(1.1);
}

.header-right {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}