:root{
  --pozadina:#333232;
  --pozadina-dugme:#bdc9c4;
  --svijetlo-bijela:#e9edf5;
  --rainbow-gradient:linear-gradient(to right, red, purple, blue);
}
*{
  box-sizing: border-box;
}
body{
  background-color: var(--pozadina);
}
